// Images
img,
figure,
picture,
video {
    display: block;
    position: relative;

    width: 100%;
    height: auto;

    margin: 0;
    padding: 0;



    &.height {
        height: 100%;
        width: auto;
    }
}





//// Background colors for case study images
.singlecolumn,
.doublecolumn {
    picture {
        background: var( --accent );
    }
}