@use '../_variables/' as *;

// Card

.cards__card {
    .grid--card__detail {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        gap: var( --base );



        @include breakpoint( mobile ) {
            gap: calc( var( --base ) * 3 );
        }



        .colophon {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
    
            align-items: center;
    
            gap: calc( var( --base ) * 4 );
        }
    }
}



.cards__card__image {
    background: var( --lightest );



    & > picture {
        width: auto;
        height: auto;

        min-height: 100%;
        max-height: 100%;
        min-width: 100%;
        max-width: 100%;

        object-fit: cover;
        object-position: center top;
    }
}



.cards__card {
    &:hover,
    &:active,
    &:focus {
        .h2 strong,
        .h2:after {
            color: var( --accent );
        }

        .cards__card__image {
            background: var( --accent );
        }
    }
}