// Lottie Player component styles

.lottie__container {
    display: block;
    position: relative;

    background: var( --accent );
}



.lottie__player {
    display: block;
    position: relative;

    width: 100%;
}