// Footer

.footer {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    gap: calc( var( --base ) * 5 );



    .colophon {
        text-align: right;
    }
}