@use '../_variables/' as *;

// Column

.column--content {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    gap: calc( var( --base ) * 10 );



    @include breakpoint( mobile ) {
        gap: calc( var( --base ) * 8 );
    }
}