@use '../_variables/' as *;

// Grids

$sidebarWidth: 20%;



//// Main 2 column grid
.grid--columns {
    display: grid; 

    grid-auto-flow: column; 

    grid-template-columns: $sidebarWidth 1fr; 
    grid-template-rows: 1fr; 

    gap: 0; 

    grid-template-areas: 
        "sidebar column"; 



    .grid--columns__sidebar {
        grid-area: sidebar;

        padding-right: calc( var( --base ) * 5 );



        @include breakpoint( portrait ) {
            padding-right: 0;
            padding-bottom: calc( var( --base ) * 3 );
        }
    }
    .grid--columns__column {
        grid-area: column;
    }



    @include breakpoint( portrait ) {
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto;

        grid-template-areas: 
            "sidebar"
            "column"; 

        

        &.quote,
        &.singlecolumn,
        &.doublecolumn,
        &.video {
            @include breakpoint( portrait ) {
                grid-template-areas: 
                    "column"
                    "sidebar"; 
    
    
                
                .grid--columns__sidebar {
                    padding-bottom: 0;
                    padding-top: calc( var( --base ) * 3 );
                }
            }
        }



        &.lede {
            grid-template-columns: 1fr calc( $sidebarWidth * 1.25 ); 

            grid-template-areas: 
                "column sidebar"; 
            
            
            
            .grid--columns__sidebar {
                padding-left: calc( var( --base ) * 6 );
                padding-bottom: 0;
            }
        }
    }

    @include breakpoint( mobile ) {
        &.lede {
            grid-template-columns: 1fr; 
            grid-template-rows: auto auto;

            grid-template-areas: 
                "sidebar"
                "column"; 

            
            
            .grid--columns__sidebar {
                padding-bottom: calc( var( --base ) * 5 );
                padding-left: 0;
            }
        }
    }
}



//// Sidebar grid
.grid--sidebar {
    display: grid; 

    grid-auto-flow: column; 

    grid-template-columns: 1fr $sidebarWidth;
    grid-template-rows: 1fr; 

    gap: calc( var( --base ) * 10 ); 

    grid-template-areas: 
        "content sidebar"; 



    .grid--columns__content {
        grid-area: content;
    }

    .grid--columns__sidebar {
        grid-area: sidebar;
    }



    @include breakpoint( portrait ) {
        grid-template-columns: 1fr calc( $sidebarWidth * 0.75 );
    }

    @include breakpoint( mobile ) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;

        gap: calc( var( --base ) * 5 ); 

        grid-template-areas: 
            "content"
            "sidebar";

        
        
        .text & {
            gap: 0;
        }
    }
}



//// Card grid
.grid--card {
    display: grid;

    grid-template-columns: 40% 1fr; 
    grid-template-rows: 1fr auto;

    gap: 0;

    grid-template-areas: 
        "headline thumbnail"
        "detail thumbnail";



    .grid--card__headline {
        grid-area: headline;
    }
    .grid--card__detail {
        grid-area: detail;
    }
    .grid--card__headline,
    .grid--card__detail {
        padding-right: calc( var( --base ) * 5 );



        @include breakpoint( portrait ) {
            padding-right: calc( var( --base ) * 6 );
        }

        @include breakpoint( mobile ) {
            padding-right: 0;
        }
    }
    .grid--card__thumbnail {
        grid-area: thumbnail;
    }



    @include breakpoint( mobile ) {
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto auto;

        gap: calc( var( --base ) * 2 );

        grid-template-areas: 
            "thumbnail"
            "headline"
            "detail";
    }
}

