// Grids

//// Main 2 column grid
.grid--columns {
    display: grid; 

    grid-auto-flow: column; 

    grid-template-columns: 20% 1fr; 
    grid-template-rows: 1fr; 

    gap: 0; 

    grid-template-areas: 
        "sidebar column"; 



    .grid--columns__sidebar {
        grid-area: sidebar;
    }
    .grid--columns__column {
        grid-area: column;
    }
}



//// Sidebar grid
.grid--sidebar {
    display: grid; 

    grid-auto-flow: column; 

    grid-template-columns: 1fr 20%;
    grid-template-rows: 1fr; 

    gap: calc( var( --base ) * 10 ); 

    grid-template-areas: 
        "content sidebar"; 



    .grid--columns__content {
        grid-area: content;
    }

    .grid--columns__sidebar {
        grid-area: sidebar;
    }
}



//// Card grid
.grid--card {
    display: grid;

    grid-template-columns: 40% 1fr; 
    grid-template-rows: 1fr 1fr;

    gap: 0;

    grid-template-areas: 
        "headline thumbnail"
        "detail thumbnail";



    .grid--card__headline {
        grid-area: headline;
    }
    .grid--card__detail {
        grid-area: detail;
    }
    .grid--card__thumbnail {
        grid-area: thumbnail;
    }
}

