---
import { contentfulGraphQLClient } from "../lib/contentful";

import Head from '../elements/Head.astro';

import Hero from '../blocks/Hero.astro';
import Cards from '../blocks/Cards.astro';
import List from '../blocks/List.astro';
import About from '../blocks/About.astro';
import Footer from '../blocks/Footer.astro';

const home = await contentfulGraphQLClient.getHome();
const navigation = await contentfulGraphQLClient.getNavigation();
---
<html lang="en" class="bkg--white">
	<Head
		title={ home.metadataTitle }
		description={ home.metadataDescription }
		image={ home.metadataImage.url }
		url="https://kyleconrad.com"
	/>

    <body>
		<Hero name="false" headline={ home.headline } navigation={ navigation.navigationLinks } />

		<main>
			<Cards subhead="Featured Work" cards={ home.featuredWorkCollection.items } />

			<List subhead="Additional Work" list={ home.additionalWorkCollection.items } />

			<About headline={ home.aboutHeadline } copy={ home.aboutCopy } subhead1={ home.aboutColumnSubhead1 } list1={ home.aboutColumnList1 } subhead2={ home.aboutColumnSubhead2 } list2={ home.aboutColumnList2 } />
		</main>

		<Footer navigation={ navigation } />
    </body>
</html>