---
---
<div class="browser">
    <img src="/images/browser/browser-left.png" alt="Browser controls in the top left" class="height" />
    <img src="/images/browser/browser-right.png" alt="Browser controls in the top right" class="height" />
</div>