---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { headlineOptions, copyOptions, listOptions } from "../lib/contentful";

const { headline, copy, subhead1, list1, subhead2, list2 } = Astro.props;

const headlineRender = documentToHtmlString( headline.json, headlineOptions ).replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&quot;/g, '"');
---
<section class="about padding--80 grid--columns text--black">
    <div class="grid--columns__sidebar">
        <span class="subhead sticky">About</span>
    </div>

    <div class="grid--columns__column grid--sidebar hover-emoji">
        <div class="grid--columns__content">
            <h4 set:html={ headlineRender } class="h2" />

            <div set:html={ documentToHtmlString( copy.json, copyOptions ) } class="content margin-top--24" />
        </div>

        <div class="grid--columns__sidebar">
            <div>
                <h5 class="h5 text--black">{ subhead1 }</h5>
                <ul set:html={ documentToHtmlString( list1.json, listOptions ) } class="about__list margin-top--4 text--gray" />
            </div>
            
            { ( subhead2 && list2 ) &&
                <div>
                    <h5 class="h5 text--black">{ subhead2 }</h5>
                    <ul set:html={ documentToHtmlString( list2.json, listOptions ) } class="about__list margin-top--4 text--gray" />
                </div>
            }
        </div>
    </div>
</section>