---
import ListItem from '../components/ListItem.astro';

const { subhead, list } = Astro.props;
---
<list-menu class="list padding--80 mobile-padding-left--40 mobile-padding-right--40 grid--columns text--black">
    <div class="grid--columns__sidebar">
        <h2 class="subhead sticky">{ subhead }</h2>
    </div>

    <ul class="grid--columns__column list__list">
        {
            list.map( ( item ) => (
                <ListItem item={ item } />
            ))
        }
    </ul>
</list-menu>

<script>
    class ListMenu extends HTMLElement {
        constructor() {
            super();

            const   links = this.querySelectorAll<HTMLAnchorElement>( '.list__link' );

            let     prefetchArray = [];



            [ ...links ].forEach( link => {
                link.addEventListener( 'mouseover', () => {
                    prefetchUrl( link, prefetchArray );
                });

                link.addEventListener( 'touchstart', () => {
                    prefetchUrl( link, prefetchArray );
                });
            });



            function prefetchUrl( link, array ) {
                const   href = link.href;


                if ( !array.includes( href ) ) {
                    const   prefetch = document.createElement( 'link' );

                    prefetch.rel = 'prefetch';
                    prefetch.href = href;

                    document.head.appendChild( prefetch );

                    array.push( href );
                }
            }
        }
    }

    customElements.define( 'list-menu', ListMenu );
</script>