---
import ListItem from '../components/ListItem.astro';

const { subhead, list } = Astro.props;
---
<section class="list padding--80 mobile-padding-left--40 mobile-padding-right--40 grid--columns text--black">
    <div class="grid--columns__sidebar">
        <span class="subhead sticky">{ subhead }</span>
    </div>

    <ul class="grid--columns__column list__list">
        {
            list.map( ( item ) => (
                <ListItem item={ item } />
            ))
        }
    </ul>
</section>