@use '../_variables/' as *;

// Copy

p,
figcaption {
    @include Inter( regular );

    line-height: 1.5;
    letter-spacing: -0.02em;



    strong {
        @include Inter( bold );
    }

    em {
        font-style: italic;
    }



    a {
        @include Inter( medium );

        color: inherit;

        text-decoration: underline;
        text-decoration-color: var( --lightest );



        &:hover,
        &:active,
        &:focus {
            text-decoration: underline;
            text-decoration-color: var( --light );
        }
    }
}

.content {
    p {
        font-size: clamp( 14px, calc( var( --base ) * 2 ), 32px );



        &:not(:last-child) {
            margin-bottom: 1em;
        }
    }
}

p.small {
    font-size: clamp( 10px, calc( var( --base ) * 1.5 ), 24px );
}

.colophon {
    p,
    figcaption {
        font-size: clamp( 8px, calc( var( --base ) * 1.25 ), 20px );
    }
}