@use '../_variables/' as *;

// Headlines

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    display: block;
}



.h1,
.h2,
.h3 {
    @include LockSerif;

    letter-spacing: -0.04em;
    line-height: 1.1;



    strong {
        @include Hauss;

        letter-spacing: -0.02em;
    }

    em {
        @include PPPangaia;

        letter-spacing: -0.02em;
    }

    u {
        @include SharpRoman;

        letter-spacing: -0.045em;
    }
}

.h1 {
    font-size: clamp( 32px, calc( var( --base ) * 7 ), 84px );
}

.h2 {
    font-size: clamp( 24px, calc( var( --base ) * 5 ), 64px );

    @include text-crop( $top-adjustment: 3px, $bottom-adjustment: 4px, $line-height: 1.1 );



    &--lede {
        line-height: 1.2;

        @include text-crop( $top-adjustment: 3px, $bottom-adjustment: 4px, $line-height: 1.2 );
    }
}

.h3 {
    font-size: clamp( 20px, calc( var( --base ) * 3 ), 48px );

    @include text-crop( $top-adjustment: 5px, $bottom-adjustment: 4px, $line-height: 1 );
}



.h4,
.h5,
.h6 {
    @include Hauss;

    letter-spacing: -0.02em;
    line-height: 1.1;

    @include text-crop( $top-adjustment: 2px, $bottom-adjustment: 4px, $line-height: 1.2 );
}

.h4 {
    font-size: clamp( 24px, calc( var( --base ) * 5 ), 64px );
}

.h5 {
    font-size: clamp( 12px, calc( var( --base ) * 2 ), 32px );
}

.h6 {
    font-size: clamp( 10px, calc( var( --base ) * 1.5 ), 24px );
}