@use '../_variables/' as *;

// Navigation

.nav__home {
    @include Hauss;

    font-size: clamp( 12px, calc( var( --base ) * 2 ), 32px );
    letter-spacing: -0.02em;

    color: var( --accent );

    text-decoration: none;
}

.nav__menu a {
    @include Inter( medium );

    font-size: clamp( 10px, calc( var( --base ) * 1.75 ), 28px );
    letter-spacing: -0.02em;

    color: var( --gray );

    text-decoration: none;



    &:hover,
    &:active,
    &:focus {
        color: var( --black );
    }
}