@use '../_variables/' as *;

// Subheads

.subhead {
    display: block;

    @include Inter( regular );

    font-size: clamp( 10px, calc( var( --base ) * 1.5 ), 24px );
    letter-spacing: -0.02em;
    line-height: 1.3;

    color: var( --gray );



    &--large {
        font-size: clamp( 10px, calc( var( --base ) * 1.75 ), 28px );
        line-height: 1.3;
    }



    a,
    &.a {
        color: inherit;

        text-decoration: none;



        &:hover,
        &:active,
        &:focus {
            text-decoration: underline;
            text-decoration-color: var( --light );
        }
    }
}