@use '../../_variables/' as *;

// Double Column Images Content Block

.doublecolumn__row {
    display: flex;
    flex-direction: row;
    align-items: start;

    gap: calc( var( --base ) * 3 );



    @include breakpoint( mobile ) {
        flex-direction: column;
        align-items: stretch;

        gap: calc( var( --base ) * 2 );
    }
}

.doublecolumn__row__image {
    flex-grow: 1;
    flex-basis: 0;



    @include breakpoint( mobile ) {
        flex-grow: 0;
        flex-basis: 100%;
    }
}