@use '../../_variables/' as *;

// Lede Content Block

.lede__details {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    gap: calc( var( --base ) * 1.5 );



    @include breakpoint( landscape ) {
        gap: calc( var( --base ) * 0.75 );
    }

    @include breakpoint( mobile ) {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;

        // gap: 0;
    }
}

.lede__details__row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-items: center;

    gap: var( --base );



    @include breakpoint( mobile ) {
        flex-basis: calc( ( 100% - ( var( --base ) * 0.75 ) ) * 0.5 );



        &:nth-child( 5 ) {
            flex-basis: 100%;
        }
    }
}



.lede__content {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    gap: calc( var( --base ) * 4 );



    @include breakpoint( portrait ) {
        gap: calc( var( --base ) * 5 );
    }
}