@use '../../_variables/' as *;

// Stats Content Block

.stats__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-items: center;

    gap: calc( var( --base ) * 4 );
}

.stats__list__stat {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-basis: 0;

    align-items: center;

    gap: calc( var( --base ) * 2 );   



    @include breakpoint( portrait ) {
        gap: calc( var( --base ) * 3 );  
    }
}