---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { headlineOptions } from "../../lib/contentful";

import Slide from '../../components/Slide.astro';

const { content } = Astro.props;
---
<slider-section class="slider padding-left--80 padding-right--80 mobile-padding-left--40 mobile-padding-right--40 grid--columns overflow--hidden">
    <div class="grid--columns__sidebar"></div>

    <figure class="grid--columns__column">
        <div class="slider__slider">
            {
                content.imagesCollection.items.map( ( image ) => (
                    <Slide image={ image } />
                ))
            }
        </div>

        { ( content.caption ) &&
            <div class="grid--sidebar colophon text--gray margin-top--24">
                <figcaption set:html={ documentToHtmlString( content.caption.json, headlineOptions ) } class="grid--columns__content" />
            </div>
        }
    </figure>
</slider-section>

<script>
    import Flickity from 'flickity';

    class SliderSection extends HTMLElement {
        constructor() {
            super();

            const   slider = this.querySelector<HTMLVideoElement>( '.slider__slider' );

            const   flickity = new Flickity( slider, {
                cellAlign: 'left',
                cellSelector: 'picture',
                setGallerySize: true,
                contain: true,
                prevNextButtons: false,
                pageDots: false,
                draggable: true,
                accessibility: false,
                lazyLoad: 3
            });
        }
    }

    customElements.define( 'slider-section', SliderSection );
</script>