---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { headlineOptions } from "../../lib/contentful";

const { content } = Astro.props;
---
<blockquote class="quote padding-left--80 padding-right--80 grid--columns text--black">
    <div class="grid--columns__sidebar">
        { ( content.name || content.detail ) &&
            <div class="sticky">
                { ( content.name ) &&
                    <span class="h5 text--black">{ content.name }</span>
                }
                { ( content.detail ) &&
                    <span class="subhead text--gray">{ content.detail }</span>
                }
            </div>
        }
    </div>

    <div class="grid--columns__column">
        <p set:html={ documentToHtmlString( content.quote.json, headlineOptions ) } class="h2 h2--lede" />
    </div>
</blockquote>