---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { headlineOptions } from "../../lib/contentful";

import Image from '../../components/Image.astro';

const { content } = Astro.props;
---
<figure class="singlecolumn padding-left--80 padding-right--80 mobile-padding-left--40 mobile-padding-right--40 grid--columns grid--columns--with-caption">
    <div class="grid--columns__sidebar colophon text--gray">
        { ( content.caption ) &&
            <figcaption set:html={ documentToHtmlString( content.caption.json, headlineOptions ) } class="sticky" />
        }
    </div>

    <div class="grid--columns__column rounded overflow--hidden">
        <Image image={ content.image } />
    </div>
</figure>