---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { listOptions } from "../../lib/contentful";

const { content } = Astro.props;
---
<section class="stats padding-left--80 padding-right--80 grid--columns text--black">
    <div class="grid--columns__sidebar">
        { ( content.subhead ) &&
            <span class="subhead sticky">{ content.subhead }</span>
        }
    </div>

    <ul class="grid--columns__column stats__list">
        <li class="stats__list__stat">
            <span class="stats__number text--black">{ content.stat1 }</span>
            <span set:html={ documentToHtmlString( content.stat1Copy.json, listOptions ) } class="subhead subhead--large" />
        </li>

        <li class="stats__list__stat">
            <span class="stats__number text--black">{ content.stat2 }</span>
            <span set:html={ documentToHtmlString( content.stat2Copy.json, listOptions ) } class="subhead subhead--large" />
        </li>

        { ( content.stat3 && content.stat3Copy.json ) &&
            <li class="stats__list__stat">
                <span class="stats__number text--black">{ content.stat3 }</span>
                <span set:html={ documentToHtmlString( content.stat3Copy.json, listOptions ) } class="subhead subhead--large" />
            </li>
        }
    </ul>
</section>